body {
    background-color: aquamarine;
}

.container {
    margin: 50px 10%;
    width: 80%;
    background-color: white;
}

.navbar {
    margin-right: 0;
}

.add {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;

}
ul {
    width: 100%;
}
#loging {
    position: absolute;
    top: auto;
    right: 15px;
}

#signup {
    position: absolute;
    top: auto;
    right: 90px;
}

h4 {
    height: 5%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 25px;
}

.box {
    width: 60%;
    margin: 0 auto;
}

.email {
    display: none;
}

.category {
    float: right;
    margin: 0 auto;
}

.jumbotron {
    margin: 5% 20%;
}

#login-form, #signup-form {
    width: 50%;
    margin: 0 auto;
}

.title {
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

.row-ads {
    margin-top: 5%;
    background-color: #bfd7ff;
}


