<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <script src="js/script.js"/>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light ">
    <a class="navbar-brand" href="/">Job Board</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/user">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/categories">Categories</a>
            </li>
            <li class="nav-item " id="signup">
                <a class="nav-link active" href="/signup">Sign up <i class="fas fa-user-plus"></i></a>
            </li>
            <li class="nav-item" id="loging">
                <a class="nav-link active" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
            </li>
        </ul>
    </div>
</nav>



<div class="jumbotron">

    <div class="row">
        <h4>Categories:</h4>
    </div>


    <!--<div th:each="category : ${categories}" class="row category-href" th:attr="data-value=${category.name}" >-->
            <!--<span th:text="${category.name}" th:remove="tag" th:href="@{'/categories?name=' + ${category.name}}" >-->
            <!--</span>-->

        <div th:each="category : ${categories}" class="row category-href" th:attr="data-value=${category.name}" >
            <a th:text="${category.name}" th:href="@{'/categories/' + ${category.name}}"></a>

        </div>

</div>

</body>
</html>