<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Ad</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light ">
    <a class="navbar-brand" href="/">Job Board</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/user">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories">Categories</a>
            </li>
            <li class="nav-item " id="signup">
                <a class="nav-link disabled" href="/signup">Sign up <i class="fas fa-user-plus"></i></a>
            </li>
            <li class="nav-item" id="loging">
                <a class="nav-link disabled" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <h4>Post Advert</h4>

    <form action="#" th:action="@{'/api/ads'}" th:object="${dto}" method="post">
        <p>Header: <input type="text" th:field="*{header}"/></p>
        <p>Content: <textarea rows="4" cols="50" th:field="*{content}"/></p>
        <p>Category: <input type="text" th:field="*{categoryName}"/></p>
        <p>
            <button>
                <a href="/user"></a>
                <input type="submit" value="Submit"/>
            </button>
            <input type="reset" value="Reset"/>
        </p>
    </form>

</div>



</body>
</html>