<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light ">
    <a class="navbar-brand" href="/">Job Board</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/user">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/categories">Categories</a>
            </li>
            <li class="nav-item " id="signup">
                <a class="nav-link active" href="/signup">Sign up <i class="fas fa-user-plus"></i></a>
            </li>
            <li class="nav-item" id="loging">
                <a class="nav-link active" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
            </li>
        </ul>
    </div>
</nav>


<div class="jumbotron">
    <h4>Create account</h4>

    <form id="signup-form" action="#" th:action="@{/api/users}" th:object="${dto}" method="post">
        <p>Name: <input type="text" th:field="*{login}"/></p>
        <p>Email: <input type="text" th:field="*{email}"/></p>
        <p>Password: <input type="password" th:field="*{password}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>